.mainvisual {
    background-image: url(../img/mainvisual_bg3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 1080px;
  
    &__box{
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
  
      h2 {
        @include archivoBlack(900);
        font-size: 81px;
        line-height: 1.3;
        color: $whitecolor;
        margin-bottom: 30px;
      }
  
      p {
        @include roboroFont(400);
        font-size: 18px;
        font-weight: 400;
        color: $whitecolor;
        margin-bottom: 30px;
      }
      
    }
  }

  
  